Repository grc-iit/ChronoLog, pull requests merged in 2024-11, with the labels that each got.

#222 Fix traffic metric collection Action
  .github/workflows/repository-traffic.yml
Labels: bug

#225 Add story chunk end to csv filenames
  ChronoGrapher/CSVFileChunkExtractor.cpp
Labels: ChronoGrapher

#216 210 scripts to generate performance metrics
  ChronoGrapher/GrapherRecordingService.h
  ChronoKeeper/StoryChunkExtractorRDMA.cpp
  ChronoKeeper/StoryChunkExtractorRDMA.h
  Client/ChronoAdmin/client_admin.cpp
  Client/synthetic_workload/perf_test.sh
  chrono_common/TimerWrapper.h
Labels: enhancement, Testing & Deployment

#220 Integrate HDF5 archiver to extract StoryChunks
  ChronoGrapher/CMakeLists.txt
  ChronoGrapher/ChronoGrapher.cpp
  ChronoGrapher/HDF5FileChunkExtractor.cpp
  ChronoGrapher/HDF5FileChunkExtractor.h
  ChronoGrapher/StoryChunkWriter.cpp
  ChronoGrapher/StoryChunkWriter.h
  chrono_common/StoryChunk.h
  chrono_common/chronolog_types.h
  spack.yaml
Labels: enhancement, high priority, ChronoGrapher
