Repository grc-iit/ChronoLog, pull requests merged in 2025-02, with the labels that each got.

#251 250 keeper keeps logging extraction queue status
  chrono_common/StoryChunkExtractor.cpp
Labels: bug, ChronoKeeper

#252 204 playback client api
  CMakeLists.txt
  ChronoAPI/ChronoLog/include/chronolog_errcode.h
  ChronoPlayer/PlaybackService.cpp
  ChronoPlayer/PlaybackService.h
  ChronoVisor/include/KeeperRegistry.h
  ChronoVisor/src/KeeperRegistry.cpp
  ChronoVisor/src/VisorClientPortal.cpp
  Client/CMakeLists.txt
  Client/include/ClientConfiguration.h
  Client/include/chronolog_client.h
  Client/src/ChronologClientImpl.cpp
  Client/src/ChronologClientImpl.h
  Client/src/ClientQueryService.cpp
  Client/src/ClientQueryService.h
  Client/src/PlaybackQueryRpcClient.cpp
  Client/src/PlaybackQueryRpcClient.h
  Client/src/StorytellerClient.cpp
  Client/src/StorytellerClient.h
  chrono_common/AcquireStoryResponseMsg.h
  chrono_common/ConfigurationManager.h
  chrono_common/ServiceId.h
  chrono_common/chronolog_types.h
  default_conf.json.in
Labels: ChronoLogClient, ChronoPlayer

#263 156 service id messages
  ChronoGrapher/ChronoGrapher.cpp
  ChronoKeeper/CSVFileChunkExtractor.cpp
  ChronoKeeper/ChronoKeeperInstance.cpp
  ChronoPlayer/ChronoPlayer.cpp
  ChronoPlayer/StoryChunkTransferAgent.cpp
  ChronoVisor/src/KeeperRegistry.cpp
  ChronoVisor/src/chronovisor_instance.cpp
  Client/src/ChronologClientImpl.cpp
  Client/src/ChronologClientImpl.h
  Client/src/ClientQueryService.cpp
  Client/src/KeeperRecordingClient.h
  Client/src/PlaybackQueryRpcClient.cpp
  Client/src/StorytellerClient.cpp
  Client/src/StorytellerClient.h
  chrono_common/GrapherIdCard.h
  chrono_common/GrapherRegistrationMsg.h
  chrono_common/GrapherStatsMsg.h
  chrono_common/KeeperIdCard.h
  chrono_common/KeeperRegistrationMsg.h
  chrono_common/KeeperStatsMsg.h
  chrono_common/PlayerIdCard.h
  chrono_common/PlayerRegistrationMsg.h
  chrono_common/PlayerStatsMsg.h
  chrono_common/ServiceId.h
Labels: ChronoKeeper, ChronoGrapher, ChronoVisor, ChronoLogClient, ChronoPlayer

#264 262 landing page image links failing
  README.md
Labels: bug, documentation
