Repository grc-iit/ChronoLog, pull requests merged in 2025-06, with the labels that each got.

#333 329 deployment scrips should populate archive location value in chronoplayer config file
  ChronoKeeper/ChronoKeeperInstance.cpp
  ChronoPlayer/ChronoPlayer.cpp
  chrono_common/ConfigurationManager.cpp
  chrono_common/ConfigurationManager.h
  default_conf.json.in
  deploy/local_single_user_deploy.sh
  deploy/single_user_deploy.sh
Labels: bug, Testing & Deployment, ChronoPlayer

#335 334-fix-chronoplayer-issue-on-handling-archive-story-files
  ChronoPlayer/ArchiveReadingAgent.cpp
  ChronoPlayer/HDF5ArchiveReadingAgent.cpp
  ChronoPlayer/HDF5ArchiveReadingAgent.h
  Client/ChronoAdmin/client_admin.cpp
  chrono_common/ConfigurationManager.cpp
Labels: bug, ChronoPlayer

#337 313 dynamic access window
  ChronoKeeper/StoryPipeline.cpp
  ChronoKeeper/StoryPipeline.h
  chrono_common/StoryPipeline.cpp
Labels: ChronoKeeper, ChronoGrapher
